<div class="about-body">
  <h2>About me</h2>
  <p>Though a lifelong technophile, I began to seriously pursue web development as
    a career near the end of 2014. I dove in head first, with a goal of becoming
    job ready as quickly as possible while juggling full time employment and full
    time school.</p>
  <p>I have been lucky to be able to leverage wonderful open source programs such
    as <a href="http://www.theodinproject.com">The Odin Project</a> and <a href="http://www.freecodecamp.com">FreeCodeCamp</a>,
    contributing back to them when I can with bug fixes and community support. I am enamored with the spirit of the open source
    community and intend to involve myself with it as much as possible while also doing something I've grown to love as a profession.</p>
  <p>When not behind the keyboard I enjoy travel, music and sports (watching and playing), and look forward to participating in the Chicago triathlon each year.</p>
  <h2>Projects</h2>
  <p>Here are a few projects I've completed along the way</p>
  <div class="row sample-container">

    <div class="col-md-4 col-sm-6 code-sample">
      <h4>Fakebook (Facebook clone)</h4>
      <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/fakebook2.png" class="sample-image img-responsive ">
      <p><b>Technologies/concepts:</b> Rails, Devise w/ OAuth (Facebook Login), relational
        models (user, post, comment, like)</p>
      <p><b>Links:</b>  <a target="_blank" href="http://odin-fakebook.herokuapp.com/">Production</a> |
        <a target="_blank" href="https://www.github.com/jmauzy/fakebook">GitHub</a>
        <p><b>Note: Free tier Heroku hosting. May take 5-10 seconds for server to spin up after clicking link.</b>
        </p>
    </div>

    <div class="col-md-4 col-sm-6 code-sample">
      <h4>Mauzy.io (CMS/Portfolio)</h4>
      <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/mauzyiosample.png"
      class="sample-image img-responsive ">
      <p><b>Technologies/concepts:</b> Ruby On Rails, React.js, Devise, Markdown, Responsive
        Design</p>
      <p><b>Links:</b>  <a target="_blank" href="http://www.mauzy.io">Production</a> |
        <a target="_blank" href="https://www.github.com/jmauzy/mauzyio">GitHub</a>
    </div>

    <div class="clearfix visible-sm-block"></div>


    <div class="col-md-4 col-sm-6 code-sample">
      <h4>Wikipedia Search Widget</h4>
      <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/wikisample.png"
      class="sample-image img-responsive ">
      <p><b>Technologies/concepts:</b>Vanilla JavaScript, Angular JS, Wikipedia API
        access and manipulation, two-way data binding, click/keyboard events</p>
      <p><b>Links:</b>  <a target="_blank" href="http://codepen.io/apositivejam/full/LpEvPG/">CodePen.io</a> 
    </div>

    <div class="clearfix visible-lg-block visible-md-block"></div>

    <div class="col-md-4 col-sm-6 code-sample">
      <h4>Javascript Pomodoro Timer</h4>
      <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/pomsample.png" class="sample-image img-responsive ">
      <p><b>Technologies/concepts:</b>Vanilla JavaScript, jQuery</p>
      <p><b>Links:</b>  <a target="_blank" href="http://codepen.io/apositivejam/full/JdQgGL/">CodePen.io</a> 
    </div>

    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-4 col-sm-6 code-sample">
      <h4>Javascript Simon Game</h4>
      <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/simonsample.png"
      class="sample-image img-responsive ">
      <p><b>Technologies/concepts:</b>Vanilla JavaScript, Angular JS, Javascript audio
        libraries (Howl.js)</p>
      <p><b>Links:</b>  <a target="_blank" href="http://codepen.io/apositivejam/full/YyxbmL/">CodePen.io</a> 
    </div>

    <div class="col-md-4 col-sm-6 code-sample">
      <h4>JavaScript Calculator</h4>
      <img src="https://s3-us-west-2.amazonaws.com/mauzyio/aboutpage/calcsample.png"
      class="sample-image img-responsive ">
      <p><b>Technologies/concepts:</b>CSS, Angular JS</p>
      <p><b>Links:</b>  <a target="_blank" href="http://codepen.io/apositivejam/full/ZbGYKg/">CodePen.io</a> 
    </div>

  </div>

  <h2>Resources</h2>
  <p>These are some resources I've found tremendously helpful and highly recommend to beginner and intermediate web developers.</p>

  <h4>Curriculum (long form)</h4>
  <p><a target="_blank" href="http://www.theodinproject.com">The Odin Project</a> - This open source curriculum developed by Erik Trautman covers HTML, CSS, JavaScript, jQuery and ruby leading up to an in-depth rails curriculum in which you build several projects and learn TDD along the way. Erik estimates 1,000 hours of work to complete, though I found it reasonable to finish a bit faster.</p>
  <p><a target="_blank" href="http://www.freecodecamp.com">Free Code Camp</a> - This full stack JavaScript curriculum is the project of Quincy Larson, a former school director, Free Code Camp is more guided than The Odin Project. There is a bit of gamification as you progress along the modules. This project is just over a year old and new content is constantly being added. After completion of the course, FCC will set you up with non-profits looking for developers providing real world experience. FCC also provides an excellent online community with a ton of support.</p>

  <h4>Curriculum (short)</h4>
  <p><a target="_blank" href="http://www.exercism.io">exercism.io</a> - Another great open source resource. Exercism allows you to practice code exercises in just about any language you could imagine. After submitting your solutions, you are able to give and receive code reviews to your peers in a conversational format. Very helpful while I was learning JavaScript and Ruby.</p>
  <p><a target="_blank" href="http://www.upcase.com">Upcase (subscription)</a> - Rails training from the experts at Thoughtbot. Covers a wide variety of Ruby/Rails topics as well as items such as Vim/Tmux, testing, git, and design.</p>
  <p><a target="_blank" href="http://www.egghead.io">egghead.io (subscription)</a> - Javascript focused lessons with tracks for frameworks such as Angular, React, and Node</p>

  <h4>Guides</h4>
  <p><a target="_blank" href="https://playbook.thoughtbot.com/">The thoughtbot playbook</a> - A publicly available employee handbook explaining how a modern software consultancy runs. Covers a broad range of topics including design sprints, testing/review policy, onboarding new hires and client retention.</p>
  <p><a target="_blank" href="https://github.com/airbnb/javascript">Airbnb JavaScript Style Guide</a> - This is a wonderful resource for learning about best practices and clean syntax for the beginning JavaScript programmer</p>

  <h4>Podcasts</h4>
  <p><a target="_blank" href="http://blog.codepen.io/radio/">CodePen Radio</a> - An excellent peek behind the curtain of a small but growing software startup. Each episode focuses on a particular topic. Some are purely tech focused while others cover more of the business side of things.</p>
  <p><a target="_blank" href="http://shoptalkshow.com/">Shop Talk Show</a> - Chris Coyier (also the host of CodePen Radio) discusses the state of modern web development with a variety of guests</p>
  <p><a target="_blank" href="http://www.codenewbie.org/">CodeNewbie</a> - Hosted by Saron Yitbarek, CodeNewbie tells the story of learning to code from a large number of points of view. Saron also maintains a robust community of "Code Newbies" who work together on projects and share ideas through twitter and slack.</p>

</div>
