<h2>Contact Me</h2>

<p>The fastest way to get ahold of me is via email at <a href="mailto:jeremymauzy@gmail.com">jeremymauzy@gmail.com</a>. I typically respond within the day.</p>
<p>If you'd prefer to communicate through social media, feel free to use the links at the bottom of this page.</p>
