<div class="header">
  <div class="header-title">
    <h1><a href="/">Mauzy.io</a></h1>
    <p>Learn | Do | Teach</p>
  </div>
  <div class="row header-links">
    <div class="col-sm-2 col-sm-offset-2 col-xs-6 header-link"><%= link_to "Home", root_path %></div>
    <div class="col-sm-2 col-xs-6 header-link"><%= link_to "Blog", posts_path %></div>
    <div class="col-sm-2 col-xs-6 header-link"><%= link_to "About", "/about" %></div>
    <div class="col-sm-2 col-xs-6 header-link"><%= link_to "Contact", "/contact" %></div>
  </div>
  <hr>
</div>
