<!--<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<a class="twitter-timeline" 
  data-widget-id="600720083413962752" 
  data-chrome="noheader noborders " 
  data-tweet-limit="" 
  data-link-color="#FFFFFF" 
  data-border-color="#FFFFFF" 
  lang="EN" 
  data-theme="" 
  height="" 
  width="" data-screen-name="@JeremyMauzy" 
  data-show-replies="false" 
  data-aria-polite="assertive">
</a>  -->

<h4>Tweets</h4>
<hr>
<a class="twitter-timeline" 
data-chrome="noheader noborders"
data-widget-id="600720083413962752" 
href="https://twitter.com/jeremymauzy"
data-screen-name="jeremymauzy">
                  Tweets by @JeremyMauzy
                        </a>
