<div class="about-sidebar">
  <hr>
  <h4 >About Me</h4>
  <hr>
  <img class="profile-image" src="https://s3-us-west-2.amazonaws.com/mauzyio/profile.jpg">
  <p>I'm early into what I hope will be a lifelong journey of learning the tools and concepts that make up the technology we use every day. I learn best by doing and teaching, and hope that the information I share will help others on their own way.</p>
</div>
