<div class="title-frame"></div>
<div class="stars-frame">
  <img class="chistar" src="https://s3-us-west-2.amazonaws.com/mauzyio/chistar.svg">
  <img class="chistar" src="https://s3-us-west-2.amazonaws.com/mauzyio/chistar.svg">
  <img class="chistar" src="https://s3-us-west-2.amazonaws.com/mauzyio/chistar.svg">
  <img class="chistar" src="https://s3-us-west-2.amazonaws.com/mauzyio/chistar.svg">
</div>
<div class="title-frame">
  <h1>mauzy.io</h1>
  <p class="lead">My journey through the weird world of web development</p>
</div>
<div class="blue-stripe"></div>
