<div class="stars-frame">
  <img class="chistar" src="https://s3-us-west-2.amazonaws.com/mauzyio/chistar.svg">
  <img class="chistar" src="https://s3-us-west-2.amazonaws.com/mauzyio/chistar.svg">
  <img class="chistar" src="https://s3-us-west-2.amazonaws.com/mauzyio/chistar.svg">
  <img class="chistar" src="https://s3-us-west-2.amazonaws.com/mauzyio/chistar.svg">
</div>
<div class="title-frame">
  <h1>Jeremy Mauzy</h1>
  <p class="lead">Getting better by being bad</p>
</div>
<div class="blue-stripe"></div>
