<%= render 'shared/header' %>
<div class="header-spacer"></div>

<div class="container">
  <div class="text-center">
    <h1>Thank you for your inquiry!</h1>
    <p>I will respond as soon as I am able. (Usually within 24 hours)</p>
    <p></p>
  </div>
</div>

<%= render 'shared/footer' %>
