// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#post_body {
  height: 1000px;
}

.posts-table {
  border: 1;
  cell-padding: 5px;
}
