/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 /*@import 'base/epiceditor';  
 @import 'preview/bartik';  
 @import 'preview/github';  
 @import 'preview/preview-dark';  
 @import 'editor/epic-dark';  
 @import 'editor/epic-light'; 
 */

 * {

   //border: 1px solid black;
 }
 body {
 }

.header {
  hr {
    margin-bottom: 0;
  }
  .header-title {
    h1 {
      font-size: 42pt;
      margin: 35px 0 0 0;
      text-align: center;
    }
    p {
      text-align: center;
      letter-spacing: 2px;
      margin: 0 0 30px 0;
    }
  }
  .header-links {
    text-align: center;
    font-size: 14pt;
    a {
      color: black;
    } 

  }
}
.popular-sidebar {
  padding: 7%;
}

.about-sidebar {
  padding: 7%;
  border-radius: 5%;

  .profile-image {
    max-width: 250px;
    border-radius: 100%;
    display: block;
    width: 70%;  
    margin: 15px auto;
  }
}

@media screen and (max-width: 767px) {
   .twitter-sidebar { display: none;  }

}

.sidebar-spacer {
  margin: 12px 0;
}

code {
  font-family: monospace;
  color: black;
  border: 1px solid;
  border-color: #d9d9d9;
}

.about-body {
  margin-top: 25px;
  .code-sample {
    padding: 20px;
    margin: 10px 0;
    img {
      border: 1px solid #cccccc;
      max-width: 300px;
      width: 100%;
    }
  }
  .contact-icons {
    img {
      max-width: 100px;
      width: 100%;
    }
  }
}
